<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <script src="/js/bootstrap.js"></script>
</head>

<body>
  <% include ./menu.ejs' %>



  <% include ./footer.ejs' %>
</body>

</html>



<!--html-->
<!--head-->
<!--block head-->
<!--title= title-->
<!--meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")-->
<!--meta(http-equiv="Content-Security-Policy")-->
<!--link(rel='stylesheet', href='/stylesheets/style.css')-->
<!--link(rel='stylesheet', href='/css/bootstrap.css')-->
<!--link(rel='stylesheet', href='/stylesheets/index.css')-->
<!--script(src='/js/bootstrap.js')-->
<!--body-->
<!--include menu.ejs-->
<!--block content-->
<!--include footer-->
<!--block js-->
