<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/js/bootstrap.js"></script>
</head>

<body>
<% include ./menu.ejs %>



<% include ./footer.ejs %>
</body>

</html>