<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/js/bootstrap.js"></script>
</head>

<body>
<% include ./menu.ejs %>

<div id="qrcode"></div>
<p id="user_id" class=""><%= id %></p>
<p class=""><%= name %></p>

<button onclick="print_qrcode()">Print QR code</button>

<% include ./footer.ejs %>

<script src="/js/jquery.min.js"></script>
<script>
    var id = $("#user_id").text();
    function print_qrcode() {
        window.print();
    }
</script>

<script src="/javascripts/qrcode.js"></script>
<script src="/javascripts/qrcode_generate.js"></script>

</body>

</html>