<p>userinfo</p>

<table>
    <tr>
        <td>이름</td>
        <td><%=name%></td>
    </tr>
    <tr>
        <td>사용 가능 토큰</td>
        <td><%=token%></td>
    </tr>
    <tr>
        <td>사용중인 토큰</td>
        <td><%=binded_token%></td>
    </tr>
    <tr>
        <td>점수</td>
        <td><%=rating%></td>
    </tr>

</table>

<button>정보수정</button>