body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hide{
  display: none;
}

.works{

}

#map_search{
  width: 750px;
  height: 500px;
}

#map_detail{
  width: 560px;
  height: 500px;
}
